.hero {
    background-image: url(../img/product/bordir/bg-bordir1.jpg) !important;
}

.hero::after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0.2)100%);
}

/* contact */
.contact h2 {
  font-size: 3rem;
  text-align: center;
  margin: 6rem 0 3rem;
  font-weight: 500;
}

.contact .container {
  padding: 1.4rem 7%;
  display: flex;
  gap: 2rem;

}

.row-1 {
  flex: 1 1 30rem;
  text-align: center;
}

.contacts {
  background-color: var(--blue);
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.contacts h6 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.our-office {
  border: 1px solid var(--bg);
  margin-top: 3.7rem;
}

.our-office h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 1rem;
}

.our-office ul {
  text-align: start;
}



.our-office ul h3 {
  font-size: 1.5rem;
}

.our-office ul li {
  font-weight: 400;
  margin: 1.2rem;
}

.row-2 {
  flex: 1 1 40rem;

}

.row-2 h6 {
  font-size: 3rem;
  color: var(--blue);
  width: 200;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  margin: 1rem 0;
}

.form input,
.form textarea {
  width: 100%;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
  background: none;
  border: 1px solid gray;
}

.form textarea {
  display: flex;
  width: 100%;
  height: 10rem;
  font-size: 1.2rem;
}

.form button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--blue);
  font-weight: bold;
  border: none;
  color: white;
}

/* akhir contact */