.error {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    padding: 7%;
    box-sizing: border-box;
    display: flex;
}

.container {
    box-shadow: 0 0 10px white;
    height: 60%;
    background-color: white;
    padding: 1.5rem;
    margin: auto;
    border-radius: 10px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.hatcloth-logo {
    flex: 1 1 65rem;
}

.content-img {
    flex: 1 1 20%;

}

.content-img img {
    width: 80%;
    object-fit: cover;

}

h1 {
    font-size: 4rem;
    font-weight: 600;


}

h1 span {
    color: white;
    text-shadow: 0 0 3px black;
}

.content {
    margin-left: 1.5rem;
}

h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2.5rem;
}

p {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

a {
    display: block;
    text-align: center;
    margin-top: 1.4rem;
    color: var(--blue);
    letter-spacing: 2px;
    font-weight: 400;
}

a:hover {
    color: black;

}