html {
    scroll-behavior: smooth;
}

:root {
    --bg: #e6e6e6;
    --primery: black;
    --mono: rgb(160, 159, 159);
    --blue: #309491;
}

body {
    font-family: poppins, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

.container {
    padding: 1.4rem 7%;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(125, 125, 125, 0.8);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
}

.navbar .container .nav-logo h1 {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.navbar .container .nav-logo a {
    color: black;
    cursor: pointer;
}

.navbar .container .nav-logo span {
    color: white;
}

.navbar .container .nav-link ul {
    display: flex;
    gap: 15px;
    padding: 1rem;
    border-radius: 2px;
}

.navbar .container .nav-link ul li a {
    color: var(--primery);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);

}

.navbar .container .nav-link ul li a:hover {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Menu Toggle */
.navbar .container .menu-toggle {
    display: none !important;
    display: block;
    height: 20px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

}

.container .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    margin: 0;
}

.container .menu-toggle input {
    opacity: 0;
    width: 45px;
    height: 35px;
    position: absolute;
    left: -13px;
    top: -9px;
    cursor: pointer;
    z-index: 2;
}

/* animate */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* whats app */
.container-wa {
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    z-index: 9999;
}

/* Akhir Navbar */

/* header */
.hero {
    background-image: url(../img/icons/bg-sablon.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
}

.hero::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1, 1, 1, 1)0%, rgba(1, 1, 1, 0)80%);
    position: absolute;
    bottom: 0;
}

.hero .content {
    margin: auto;
    padding: 1.4rem 7%;
    z-index: 1;
    max-width: 950px;
    letter-spacing: 1;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.hero .content h2 {
    font-size: 3rem;
    font-weight: 300;
}

.hero .content h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 400;
}

.hero .content h1 span {
    color: black;
    text-shadow: 0 0 5px white;
}

.hero p {
    font-weight: 300;
    line-height: 1.5rem;
}

/* akhir header */

/* product */
.product {
    padding: 3rem 7%;
}


.product .row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product .content {
    flex: 1 1 45rem;
    padding-top: 2rem;
}

.content h3 {
    font-size: 2.5rem;
    padding-top: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--blue);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);


}

.content ul li {
    list-style: square;
    color: var(--blue);
    margin-left: 2rem;
}

.content ul li p {
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: black;
}


.product .content-img {
    flex: 1 1 45rem;

}

.product img {
    width: 100%;
}

.product a {
    display: inline-block;
    background-color: #309491;
    padding: 1rem 2rem;
    margin-top: 1rem;
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.product a:hover {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.gray {
    background-color: var(--bg);
}

.product .gray {
    padding-top: 0px !important;
}

/* akhir product */


/* footer */
.footer {
    background-color: var(--mono);
    padding: 5rem 2rem 2rem;
}

.footer .container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.footer .container .row {
    flex: 1;
    margin: 0 auto;
}

.footer .container .row h3 {
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.container .HatCloth img {
    min-width: 17rem;
    margin-bottom: 1rem;
}

.footer .container p {
    font-size: 1rem;
    color: var(--bg);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    line-height: 1.5rem;


}

.container .info a {
    display: inline-block;
    background-color: var(--blue);
    padding: 0.5rem 1rem;
    color: white;
    margin-top: 1rem;
    border-radius: 3px;
}

.footer .container .row ul li a {
    display: inline-block;
    color: var(--bg);
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container .info a:hover,
.footer .container .row ul li a:hover {
    color: black
}

.copy {
    margin-top: 5rem;
}

small {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
}

/* akhir footer */















/* responsive */
@media (max-width:1266px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */
@media (max-width:768px) {
    html {
        font-size: 80%;
    }

    /* navbar */
    .navbar .container .menu-toggle {
        display: flex !important;
    }

    .navbar .container .menu-toggle span {
        display: inherit;
        z-index: 4;
    }

    .navbar .container .menu-toggle input {
        z-index: 5;
    }

    .navbar .container .nav-link ul li a {
        display: block;
        font-size: 1.8rem;
        margin-top: 0.8rem;
        font-weight: 500;
    }

    .container .nav-link ul {
        flex-direction: column;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50%;
        z-index: 1;
        transition: all 1s;
        transform: translateX(100%);
        background-color: var(--mono);
        padding: 0 1rem;
        opacity: 0;
    }

    .container ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* Akhir Navbar */

    /* product */
    .product .row {
        flex-wrap: wrap;
    }

    .product .row .polo {
        order: -1;
    }

    .product .row p {
        line-height: 2rem;
    }

    /* akhir product */

    .footer .container {
        flex-wrap: wrap;
    }
}

/* phone */
@media (max-width:550px) {
    html {
        font-size: 70%;
    }
}