:root {
  --bg: #e6e6e6;
  --primery: black;
  --mono: rgb(160, 159, 159);
  --blue: #309491;
}

body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(160, 159, 159, 1);
  padding: 1.2rem 7%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar .container .nav-logo h1 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.navbar .container .nav-logo span {
  color: white;
}

.navbar .container .nav-link ul {
  display: flex;
  gap: 15px;
}

.navbar .container .nav-link ul li a {
  color: var(--primery);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);

}

.navbar .container .nav-link ul li a:hover {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Menu Toggle */
.navbar .container .menu-toggle {
  display: none !important;
  display: block;
  height: 20px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;

}

.container .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--primery);
  border-radius: 3px;
  margin: 0;
}

.container .menu-toggle input {
  opacity: 0;
  width: 45px;
  height: 35px;
  position: absolute;
  left: -13px;
  top: -9px;
  cursor: pointer;
  z-index: 2;
}

/* animate */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* whats app */
.container-wa {
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  z-index: 9999;
}

/* Akhir Navbar */

/* Header */
.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, rgb(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0)70%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 800px;
  z-index: 1;
}

.hero .content h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero span {
  color: var(--primery);
  text-shadow: 0 0 3px white;
}

.hero p {
  color: var(--bg);
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}

.cta {
  color: var(--primery);
  background-color: gray;
  padding: 1rem;
  margin-right: 16px;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid gray;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.cta:hover {
  border: 2px solid black;
  background-color: rgba(128, 128, 128, 0.5);
  transition: all 0.5s;
}

.cta:active {
  color: orange;
}

/* Akhir Header */

/* pelanggan */
.pelanggan {
  background-color: #dbdada;
  margin: 2rem 0;
  padding: 1.4rem 7%;
}

.pelanggan h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.pelanggan .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  gap: 10px;
  flex-grow: 1;
}

.img img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: center;
}

/* Akhir pelanggan */

/* alasan memilih kami */
.alasan {
  text-align: center;
}

.alasan h3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0.5rem;
}

.alasan h3 span {
  color: white;
  text-shadow: 0 0 3px black;
}

.alasan p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.alasan .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3rem 4%;
  gap: 1rem;
}

.container .card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.container .card h4 {
  font-size: 1.5rem;
  margin: 0.8rem 0 1rem;
  font-weight: bold;
  color: gray;
}

.container .card p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* akhir alasan memilih kami */

/* layanan kami */
.layanan-kami {
  background-color: var(--bg);
  padding: 1.4rem 7%;
}

.layanan-kami h2,
.testimoni h2 {
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 6rem;
}

.layanan-kami h2 span {
  color: white;
}

.layanan-kami .row {
  display: flex;
  margin-top: 3rem;
  gap: 3rem;
}

.layanan-kami .bordir-img {
  flex: 1 1 45rem;
  padding: 0 5rem 5rem;
}

.layanan-kami img {
  width: 100%;
  object-fit: cover;
}

.layanan-kami .content-bordir {
  flex: 1 1 35rem;
}

.layanan-kami h5 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--blue);
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.layanan-kami p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;

}

.layanan-kami a {
  background-color: var(--blue);
  color: black;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 2rem;
}

.layanan-kami a:hover {
  color: white;
  background-color: rgb(27, 113, 110);
  transition: all 0.5s;
}

.layanan-kami .sablon {
  margin-top: 6rem;
}

.layanan-kami .sablon-img {
  flex: 1 1 30rem;
}

.layanan-kami .content-sablon {
  flex: 1 1 45rem;
}

/* akhir layanan kami */


/* testimoni */

.testimoni {
  padding: 1.4rem 7%;
}

.testimoni h2 {
  margin: 6rem 0 3rem;
}

.testimoni p {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.testimoni .material-icons {
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  margin-right: 5px;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.testimoni .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.testimoni .container .row {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
}

.testimoni .container .row:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.testimoni .container .row .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.testimoni .container .row .profile-img {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
}

.testimoni .container .row .profile-img img {
  width: 100%;
  object-fit: cover;
}

.testimoni .container .row .title h6 {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500
}

/* akhir testimoni */
/* contact */
.contact h2 {
  font-size: 3rem;
  text-align: center;
  margin: 6rem 0 3rem;
  font-weight: 500;
}

.contact .container {
  padding: 1.4rem 7%;
  display: flex;
  gap: 2rem;

}

.row-1 {
  flex: 1 1 30rem;
  text-align: center;
}

.contacts {
  background-color: var(--blue);
  padding: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.contacts h6 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.our-office {
  border: 1px solid var(--bg);
  margin-top: 3.7rem;
}

.our-office h1 {
  font-size: 2.5rem;
  font-weight: 200;
  margin: 1rem;
}

.our-office ul {
  text-align: start;
}



.our-office ul h3 {
  font-size: 1.5rem;
}

.our-office ul li {
  font-weight: 400;
  margin: 1.2rem;
}

.row-2 {
  flex: 1 1 40rem;

}

.row-2 h6 {
  font-size: 3rem;
  color: var(--blue);
  width: 200;
  margin-bottom: 2rem;
}

.input-group {
  display: flex;
  margin: 1rem 0;
}

.form input,
.form textarea {
  width: 100%;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
  background: none;
  border: 1px solid gray;
}

.form textarea {
  display: flex;
  width: 100%;
  height: 10rem;
  font-size: 1.2rem;
}

.form button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--blue);
  font-weight: bold;
  border: none;
  color: white;
}

/* akhir contact */
/* footer */
.footer {
  background-color: var(--mono);
  padding: 5rem 2rem 2rem;
}

.footer .container {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.footer .container .row {
  flex: 1;
  margin: 0 auto;
}

.footer .container .row h3 {
  font-size: 2rem;
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

.container .HatCloth img {
  min-width: 17rem;
  margin-bottom: 1rem;
}

.footer .container p {
  font-size: 1rem;
  color: var(--bg);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 1.5rem;


}

.container .info a {
  display: inline-block;
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  color: white;
  margin-top: 1rem;
  border-radius: 3px;
}

.footer .container .row ul li a {
  display: inline-block;
  color: var(--bg);
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.container .info a:hover,
.footer .container .row ul li a:hover {
  color: black
}

.container .link {}

.copy {
  margin-top: 5rem;
}

small {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

/* akhir footer */














/* Responsive */

/* Laptope */
@media (max-width:1266px) {
  html {
    font-size: 90%;
  }
}

/* Tablet */
@media (max-width:768px) {
  html {
    font-size: 80%;
  }

  /* Menu Toggle */
  /* navbar */
  .navbar .container .menu-toggle {
    display: flex !important;
  }

  .navbar .container .menu-toggle span {
    display: inherit;
    z-index: 4;
  }

  .navbar .container .menu-toggle input {
    z-index: 5;
  }

  .navbar .container .nav-link ul li a {
    display: block;
    font-size: 1.8rem;
    margin-top: 0.8rem;
    font-weight: 500;
  }

  .container .nav-link ul {
    flex-direction: column;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 1;
    transition: all 1s;
    transform: translateX(100%);
    background-color: var(--mono);
    padding: 0 1rem;
    opacity: 0;
  }

  .container ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  /* Akhir Navbar */

  /* header */
  .hero .content {
    text-align: center;
    padding: 1.4rem 5%;
  }

  .hero .content h1 {
    line-height: 4.5rem;
    font-size: 3rem;
  }

  .cta {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-right: 0;
  }

  /* Akhir header */

  /* pelanggan */
  .img img {
    width: 80%;
    height: auto;
  }

  /* Akhir pelanggan */

  /* layaynan kami */
  .layanan-kami .row {
    flex-wrap: wrap;
  }

  .layanan-kami a {

    display: inline-block;
    text-align: center;
  }

  .layanan-kami .sablon-img {
    order: -1;
  }

  /* akhir layaynan kami */

  .contact .container {
    flex-wrap: wrap;
  }

  .footer .container {
    flex-wrap: wrap;
  }
}

/* Phone */
@media (max-width:550px) {
  html {
    font-size: 70%;
  }
}